mat-card {
  margin-top: 2rem;
  background: var(--surface) !important;
  color: var(--on-surface) !important;
  display: flex;
  flex-direction: column;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  min-width: 20% !important;
}

.counter-container {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  span {
    position: relative;
    display: inline-block;
  }

  span:before,
  span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background-color: var(--on-primary);
  }

  span:before {
    right: 100%;
    margin-right: 15px;
  }

  span:after {
    left: 100%;
    margin-left: 15px;
  }
}

.mat-option {
  border-bottom: 1px solid var(--dialog);

  &:nth-child(even) {
    background-color: var(--surface);
    color: var(--on-surface);
  }

  &:nth-child(odd) {
    background-color: var(--alt-surface);
    color: var(--on-surface);
  }

  &.mat-option-header {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

:host mat-expansion-panel {
  background: var(--dialog);
  color: var(--on-dialog);

  mat-panel-title,
  mat-panel-description {
    color: currentColor;
  }
}

.secondary-btn {
  background-color: transparent;
  color: var(--secondary);
  outline: var(--secondary) solid 2px;
  width: fit-content;
  margin: 1.5em auto;

  &:hover {
    background-color: var(--secondary);
    color: var(--on-secondary);
  }
}
