.primary-btn {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;
  width: 100%;
  margin-top: 10px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.generator {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > mat-form-field {
    width: 100%;
    margin-top: 1.34375em;
  }
}
