.mat-button {
  padding: 0 5px 0 5px;
}

button:hover {
  outline: 2px solid var(--secondary);
  color: var(--on-secondary);
}

.navigation-button {
  .label-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    > mat-icon {
      transform: scale(1.5);
      color: var(--secondary);
      padding: 5px 0;
    }

    > h2 {
      padding: 5px;
      font-size: 14px !important;
      font-weight: normal;
      color: var(--on-surface);
    }
  }

  &.question-wall {
    * {
      color: darkorange !important;
    }

    mat-icon {
      transform: scale(1.3);
      padding-right: 5px;
    }

    h2 {
      margin-left: unset !important;
    }

    &:hover {
      outline: none;
      * {
        color: var(--secondary) !important;
      }
    }
  }
}

:host {
  display: flex;
}

.btn-red {
  color: var(--red);
  stroke: var(--red);
  fill: var(--red);
}

.btn-green {
  color: green;
  stroke: green;
  fill: green;
}

.btn-primary {
  color: var(--primary);
  stroke: var(--primary);
  fill: var(--primary);
}

.btn-yellow {
  color: var(--yellow);
  stroke: var(--yellow);
  fill: var(--yellow);
}

.mat-menu-item {
  background-color: transparent !important;

  &.outside {
    background-color: var(--dialog) !important;
    color: var(--on-dialog) !important;
  }

  ::ng-deep {
    svg {
      stroke: currentColor;
      fill: currentColor;
    }
  }

  &.active-nav-button {
    color: var(--on-primary) !important;
    background-color: var(--primary) !important;

    .mat-icon-no-color {
      color: currentColor !important;
    }
  }

  &:hover {
    color: var(--on-secondary) !important;
    background-color: var(--secondary) !important;

    ::ng-deep * {
      color: var(--on-secondary) !important;
    }
  }
}
