:host {
  display: flex;
  height: inherit;
  flex-direction: column;

  .align-center-y {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .container {
    width: 100%;
    height: 100%;
    max-height: unset; // Fix for current settings

    .message {
      app-motd-message {
        margin-bottom: 20px;
      }

      :last-child {
        margin-bottom: 0;
      }
    }

    &-title {
      font-weight: normal;
    }
  }

  mat-dialog-content {
    hyphens: auto;
    overflow-wrap: break-word;
  }

  mat-dialog-container {
    padding: 0 !important;
  }
}

.mat-flat-button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;
  margin: 20px 10px 10px 10px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.motd-title {
  text-align: center;
  margin: 0;
}
